<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<WebPublishMethod>FTP</WebPublishMethod>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<SiteUrlToLaunchAfterPublish>http://mikhamxn.somee.com</SiteUrlToLaunchAfterPublish>
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<ProjectGuid>0e8ae444-6596-4b19-b28c-ffba6a3a036a</ProjectGuid>
		<publishUrl>ftp://mikhamxn.somee.com</publishUrl>
		<DeleteExistingFiles>true</DeleteExistingFiles>
		<FtpPassiveMode>true</FtpPassiveMode>
		<FtpSitePath>/www.mikhamxn.somee.com</FtpSitePath>
		<UserName>Mikhamxn</UserName>
		<_SavePWD>true</_SavePWD>
		<_TargetId>FTP</_TargetId>
		<TargetFramework>net8.0</TargetFramework>

		<!-- publicas como dependiente de framework -->
		<SelfContained>false</SelfContained>
		<!-- excluimos runtimes para que no intente subir esa carpeta -->
		<ExcludeFoldersFromDeployment>runtimes</ExcludeFoldersFromDeployment>

	</PropertyGroup>
</Project>
